
html, body, #root {
  --main-color: #36454F;
  --top-bar-color: rgb(166,192,94);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.content {
  display: flex;
  flex-direction: column; /* stack logo + cards vertically */
  align-items: center;    /* center children horizontally */
  margin-top: 80px;       /* pushes below top bar */
}

body {
  background: var(--main-color);
  width: 100%;
  text-align: center;
}

.logo {
  top: 60;
  margin: 10px;
  border: 0px;
  padding: 15px; 
  color: var(--top-bar-color);
  text-align: center;
  
}

.top-bar {
  display:flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 2px solid black;
  background-color: var(--top-bar-color);
}

.dropdown-menu {
  text-align: center;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
  height: 70px;
  width: 100px;
  border: 1px solid white;
  background-color: grey;
  border-style:groove;
}

.dropdown-menu li:hover {
  color: #cceeff;
  cursor:pointer;
}


.top-bar-img {
  width:45px;
  height:45px;
  padding:5px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-cards {
  display: flex;
  gap: 100px;
  align-items: center;     /* vertically aligns card content */
  justify-content: center; /* horizontally centers the cards */
  margin-top: 40px;  
}

.card {
  border: 2px solid black;
  border-radius: 5%;
  padding: 16px;
  width: 250px;
  height: 500px;
  text-align: center;
  background-color: rgb(243,206,73);
}
/* =============================================
================Welcome Page=================
============================================= */

.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.loginButtons{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.loginButtons input{
  align-content: center;
  align-items: stretch;
  background-color: rgb(227, 232, 229);
  color: black;
  text-align: left;
  height: 50px;
  width: 350px;
  padding: 20px;
  margin: 1px;
  border-radius: 3px;
  border-color: black;
}

.sign-in button {
  background-color: rgb(71, 108, 237);
  border: 1px solid white;
  color: white;
  height: 60px;
  font-size: 18px;
  width: 350px;
  text-align: center;
  margin-bottom: 3px;
}

