
html, body, #root {
  --main-color: #f2f2f2;
  --top-bar-color: rgb(166,192,94);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.content {
  display: flex;
  flex-direction: column; /* stack logo + cards vertically */
  align-items: center;    /* center children horizontally */
  margin-top: 80px;       /* pushes below top bar */
}

body {
  background: var(--main-color);
  width: 100%;
  text-align: center;
}

.logo {
  top: 60;
  margin: 10px;
  border: 0px;
  padding: 15px; 
  color: var(--top-bar-color);
  text-align: center;
  
}

.top-bar {
  display:flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #555555;
  background-color: var(--top-bar-color);
}

.dropdown-menu {
  text-align: center;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
  height: 70px;
  width: 100px;
  border: 1px solid white;
  background-color: grey;
  border-style:groove;
}

.dropdown-menu li:hover {
  color: #cceeff;
  cursor:pointer;
}


.top-bar-img {
  width:45px;
  height:45px;
  padding:5px;
  border-radius: 50%;
  object-fit: cover;
}

.center-box {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #dddddd;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  background-color: #ffffff
}

.match-button {
  margin: 10px;
  width: 300px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 900;
  height: 50px;
  color: #000000;
  background-color: rgb(243,206,73)
}

#h2 {
  color: green;
}

/* .dashboard-cards {
  display: flex;
  gap: 100px;
  align-items: center;     /* vertically aligns card content */
  /*justify-content: center; /* horizontally centers the cards */
 /* margin-top: 40px;  
}

.card {
  border: 1px solid #cccccc;
  border-radius: 30px;
  padding: 16px;
  width: 250px;
  height: 500px;
  text-align: center;
  background-color: rgb(243,206,73);
} 
*/
/* =============================================
================Welcome Page=================
============================================= */
.sign-in-logo {
  margin: 10px;
  font-weight: 900;
  padding: 5px; 
  color: var(--top-bar-color);
  text-align: center;
}
.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main-box{
  background-color: #ffffff;
  border: 2px solid #ededed;
  padding: 15px;
  border-radius: 15%;
}
.loginButtons{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.loginButtons input{
  align-content: center;
  background-color: #eeeeee;
  color: black;
  text-align: left;
  height: 50px;
  width: 350px;
  padding-left: 10px;
  font-size: 16px;
  margin: 3px;
  border-radius: 15px;
  border: 1px solid #dcdcdc;
}

.sign-in button {
  background-color: rgb(71, 108, 237);
  border: 1px solid white;
  color: white;
  height: 50px;
  font-size: 18px;
  width: 205px;
  text-align: center;
  margin: 5px;
}
.google-icon {
  padding: 5px;
  width: 200px;
}

/* ============Bottom Bar========== */
.bottom-bar {
  padding-left: 15px;
  display: flex;
  text-align: bottom;
  gap:60px;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  background-color:#1f2021
}

.contact-us {
  text-align: left;
}


.contact-us ul {
  list-style-type: none;
  text-align: left;
  color: #bbbbbb;
  padding-left:0px;
  margin-left: 0;
}

.need-help ul{
  list-style-type:disc;
  text-align: left;
  color: #bbbbbb;
  
}

.socials {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}