#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.content {
  margin-top: 60px;
  text-align: center;
}
.logo {
  top: 60;
  margin: 10px;
  border: 0px;
  padding: 15px;  
  
}

.top-bar {
  display:flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: solid black;
}


.top-bar-img {
  width:50px;
  height:50px;
  padding:5px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-cards {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  border: 4px solid black;
  border-radius: 15%;
  padding: 16px;
  width: 250px;
  height: 500px;
  text-align: center;
  background-color: rgb(243,206,73);
}