
html, body, #root {
  --main-color: #36454F;
  --top-bar-color: rgb(166,192,94);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.content {
  display: flex;
  flex-direction: column; /* stack logo + cards vertically */
  align-items: center;    /* center children horizontally */
  margin-top: 80px;       /* pushes below top bar */
}

body {
  background: var(--main-color);
  width: 100%;
  text-align: center;
}

.logo {
  top: 60;
  margin: 10px;
  border: 0px;
  padding: 15px; 
  color: var(--top-bar-color);
  text-align: center;
  
}

.top-bar {
  display:flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 2px solid black;
  background-color: var(--top-bar-color);
}


.top-bar-img {
  width:45px;
  height:45px;
  padding:5px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-cards {
  display: flex;
  gap: 100px;
  align-items: center;     /* vertically aligns card content */
  justify-content: center; /* horizontally centers the cards */
  margin-top: 40px;  
}

.card {
  border: 2px solid black;
  border-radius: 5%;
  padding: 16px;
  width: 250px;
  height: 500px;
  text-align: center;
  background-color: rgb(243,206,73);
}